# Ignore WebStorm/IntelliJ project files
.idea/
*.iml

# Ignore macOS system files
.DS_Store

# Ignore node_modules
node_modules

# Ignore dist
dist

# Pinegrow temp folders
_pg*

# Environment variables for local development
*.env
.vercel

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?